@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Eksamen - TSD2491: Gruppe(9) web applikasjon</h1>
    <p>Velkommen til lokalt varsel for pollenspredningen</p>
</div>
