@{
    ViewData["Title"] = "Hjem";
}


<div class="text-center">
    <h1 class="display-4">Eksamen - TSD2491: Gruppe9 web applikasjon</h1> <!-- Oppgave 1.1 -->

    <p>Velkommen til lokalt varsel for pollenspredningen.</p> <!-- Oppgave 1.1 -->

    <div class="mt-4">
       
        <a asp-controller="PollenAPI" asp-action="Index" class="btn btn-outline-success">
            Gå til pollenvarsel
        </a>
    </div>
</div>